<link rel="stylesheet" href="/css/user_profile.css"><!-- apne aap hi assets folder mai jakar check krdega!-->

<img src="<%= user.avatar %>" alt="<%= user.name%> " width="100" height="150">
<!-- now browser is asking for it so it will send a get request to fetch the image so we need to make the route for it or to make it available globally -->



<% if(user.id==profile_user.id) {%>
    <!--if user mathches then show the form-->
    <form action="/user/update/<%= profile_user.id%>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name"  placeholder="Your Name"  required>
        <input type="email" name="email"  placeholder="Your email"  required>
        <input type="submit" value="update">
        <input type="file" name="avatar" placeholder="profilr pic">

    </form>
    <% } else { %>

        <p><%= profile_user.name%></p>
        <p><%= profile_user.email%></p>
        <% } %>

